@model Bo_Voyage_Final.Models.Photo



<div>


<form method="post" enctype="multipart/form-data" asp-action="Create">
    <div class="form-group">
        <div class="from-group">
            <input type="file" name="files" multiple class="btn btn-primary rounded"/>
        </div>
        <div class="form-group">
            <label asp-for="NomFichier" class="control-label"></label>
            <input asp-for="NomFichier" class="form-control" />
            <span asp-validation-for="NomFichier" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="IdDestination" class="control-label"></label>
            <select asp-for="IdDestination" class="form-control" asp-items="ViewBag.IdDestination"></select>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Rajouter" class="btn btn-primary" />
        </div>
    </div>
</form>

</div>

@*


    @model Bo_Voyage_Final.Models.Photo

    @{
        ViewData["Title"] = "Create";
    }

    <h1>Rajouter d'une photo</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NomFichier" class="control-label"></label>
                    <input asp-for="NomFichier" class="form-control" />
                    <span asp-validation-for="NomFichier" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="file" name="ImageFile" required>
                </div>
                <div class="form-group">
                    <label asp-for="IdDestination" class="control-label"></label>
                    <select asp-for="IdDestination" class="form-control" asp-items="ViewBag.IdDestination"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

*@
