
    <div class="container bg-light rounded text-center">
        <h1>Les photos ont bien était rajoutées </h1>
        <a asp-controller="Destinations" asp-action="Index" class="btn btn-outline-info">Retour à la liste des destinations</a>

    </div>

