
<div class="container-fluid bg-light rounded">
    <h1>Erreur de suppression</h1>
    <h3>L'action ne peut pas être realisé à cause du lien entre plusieurs tables dans la base des données</h3>
    <a  asp-action="Index" class="btn btn-primary">Retour à la liste</a>
</div>
