
<div class="container-fluid bg-light rounded">
    <h1>Erreur de suppression</h1>
    <h3>La destination ou le voyage que vous tentez de supprimer est encore associé à un autre voyage ou réservation. Veuillez supprimer d'abord ces relations.</h3>
    <a  asp-action="Index" class="btn btn-primary">Retour à la liste</a>
</div>
