
@{
    ViewData["Title"] = "APropos";
}


    <div class="container-fluid rounded bg-secondary text-white  p-2">

        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">

                <p class=" font-weight-bold">BoVoyages met à votre disposition  une liste de tous les voyages invendus par les agences de voyage.</p>
                <br />
                <p>  Nous vous proposons différentes formules de voyages/vacances à des prix soldés.</p>
                <br />
                <br />
                <br />
                <p>La remise peut aller jusqu’à 50 % du prix public normalement pratiqué par les agences de voyage.</p>
                <br />
                <p>Soyez prêt à partir au plus tard dans les quinze jours suivant votre réservations !</p>
                <br />
                <p>Nous disposons d'un service par téléphone ouvert au public de 8h à 20h du lundi au vendredi.
                <p>  Contactez nous au 00.00.00.00.00</p>
                <br />
                <br />
                <p>Vous pouvez aussi nous contacter par message via la rubrique "nous contacter".</p>
                <br />
                <br />


                <p>Pour réserver un voyage, rien de plus simple : créez un compte client et/ou identifiez vous.</p>
                <p> Vous pouvez accéder à la liste de vos réservations dans la rubrique dédiée. </p>
                <br />
                <p>  Il vous est possible d'annuler tout voyage dont la date de départ est antérieure à la date du jour.</p>
                <p>N'hésitez pas à souscrire à notre assurance annulation pour bénéficier d'un remboursement.</p>
                <br />
                <p>Les enfants de moins de douze ans bénéficient d'un tarif réduit, correspondant à 60 % du prix de l'offre.</p>
                <p>N'oubliez donc pas de renseigner la date de naissance des voyagaeurs accompagnants pour profiter de cette remise.</p>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>














   
    

    
  
