@model Bo_Voyage_Final.Models.ContactInfos

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{ 
    ViewBag.User = SignInManager.IsSignedIn(User) ? User.Identity.Name : null;
}

@{
    if (ViewBag.sendingEmail)
    {
        <div class="container bg-success rounded">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-5 text-white font-weight-bold">Votre Message a bien été envoyé</h1>
                </div>
                <div class="col-6">
                    <a class="btn btn-primary" asp-area="Client" asp-controller="Home" asp-action="Contact">Envoyer un autre message</a>
                </div>
                <div class="col-6">
                    <a class="btn btn-primary" asp-area="Client" asp-controller="Home" asp-action="Index">Accueil</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-md-3 bg-success rounded">
                    <div class="contact-info">
                        <img src="~/Images/contact-image.png" alt="image" />
                        <h2>Contactez-Nous</h2>
                        <h4>Nous serons ravies d'entendre de vous et avoir vos commentaires</h4>
                    </div>
                </div>
                <div class="col-md-9 bg-transparent rounded">
                    <form asp-area="Client" asp-controller="Home" asp-action="Contact">
                        @*<div asp-validation-summary="All" class="text-danger"></div>*@
                        <div class="contact-form">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Prénom:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" asp-for="Prenom" placeholder="Votre prénom"
                                           value="@ViewBag.Prenom">
                                    <span asp-validation-for="Prenom" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Nom:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" asp-for="Nom" placeholder="Votre nom"
                                           value="@ViewBag.Nom">
                                    <span asp-validation-for="Nom" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Email:</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" asp-for="Email" placeholder="exemple@email.com"
                                           value="@ViewBag.Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Message:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5" asp-for="Message" placeholder="Votre message"></textarea>
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Envoyer mon message</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    }
}


