@model Bo_Voyage_Final.Models.Voyage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<partial name="DetailsVoyageVuePartielle"/>
<br />
<div>
    <a class="btn btn-primary" asp-action="Reserver" asp-route-id="@Model.Id">Réserver</a> |
    <a class="btn btn-danger" asp-action="Index">Retour</a>
</div>
