@model IEnumerable<Bo_Voyage_Final.Models.Voyage>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des voyages</h1>


<partial name="_FilterVoyageVuePartielle"/>

<span class="row">
    @foreach (var item in Model)
    {

        <partial name="_cardVoyageVuePartielle" model="@item" />
    }
</span>
