@model IEnumerable<Bo_Voyage_Final.Models.Voyage>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des voyages</h1>


<partial name="_FilterVoyageVuePartielle"/>

<span class="row">
    @foreach (var item in Model)
    {
    <div class="bg-info rounded m-1 text-center">
        <partial name="_cardVoyageVuePartielle" model="@item" />
        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Plus de details</a>
     </div>
    }
</span>
