@model Bo_Voyage_Final.Models.Dossierresa

@{
    ViewData["Title"] = "Paiement";
}

<h1>Paiement</h1>

<hr />
<form asp-action="EnregistrerResa">
    <div>
        <div class="form-group">
            <label asp-for="NumeroCb" class="control-label"></label>
            <input asp-for="NumeroCb" name="NumeroCb" class="form-control" />
            <span asp-validation-for="NumeroCb" class="text-danger"></span>
        </div>
        <div class="col-sm-2">
            <label asp-for="PrixTotal" class="control-label"></label>
            <input asp-for="PrixTotal" name="PrixTotal" class="form-control" readonly />
        </div>
        <input type="hidden" name="IdClient" value="@Model.IdClient" />
        <input type="hidden" name="IdVoyage" value="@Model.IdVoyage" />
        <br />
        <input type="submit" value="Valider" class="btn btn-primary" />
    </div>
</form>
<br />
<div>
    <a asp-action="Reserver" asp-route-id="@Model.IdVoyage" class="btn btn-danger">Revenir en arrière</a> |
    <a asp-action="Index" class="btn btn-success">Retour à la liste</a>
</div>
