@model PersonneVoyage

@{
    ViewData["Title"] = "Reservation";
}

<h1>Reservation</h1>

<div>
    <h4>
        @($"Réservation pour le voyage à destination de {Model.Voyage.IdDestinationNavigation.Nom}, du {Model.Voyage.DateDepart} au {Model.Voyage.DateRetour}." +
        $"\n {Model.Voyage.PlacesDispo} places disponibles, à {Model.Voyage.PrixHt}€ HT par personne," +
        $" Réduction de {Model.Voyage.Reduction * 100}% par enfant de moins de 12 ans.")
    </h4>
    <hr />
    <dl class="row">
        @foreach (var item in Model.Voyageurs)
        {
            <input />
        }
    </dl>


</div>
<div>
    <p>Prix total : @(Model.Voyage.PrixHt)€</p>
</div>
<form asp-action="AddVoyageur">
    <input type="hidden" name="idPersonne" value="@Model.Personne.Id" />
    <input type="hidden" name="idVoyage" value="@Model.Voyage.Id" />
    <input type="number" name="nbVoyageurs" value="0"/>
    <input type="submit" />
</form>

<div>
    <a asp-action="Payer">Payer</a> |
    <a asp-action="Index">Annuler</a>
</div>
