@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Mot de passe de confirmation oublié?";
}

<h1>@ViewData["Title"]</h1>
<p>
    Veuillez vérifier vos e-mail pour réinitialiser votre mot-de-passe. 
</p>

