@page
@model LockoutModel
@{
    ViewData["Title"] = "Déconnecté";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ce compte a été déconnecté, veuillez rééssayer ultérieurement.</p>
</header>
