@model Bo_Voyage_Final.Models.Voyage

@{
    ViewData["Title"] = "Details";
     ViewBag.User = User.Identity.Name;
}

<h1>Details</h1>

<partial name="DetailsVoyageVuePartielle" />

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
